.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .inputGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .label {
    font-family: "Cairo", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
  }
  .input {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    opacity: 1;
    width: 255px;
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
  }
  .error {
    font-family: "Cairo", sans-serif;
    color: var(--primary-color);
  }
  .inputIcon{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 11;
  }
  @media (max-width: 768px) {
    .inputGroup {
      flex-wrap: wrap;
    }
  }
  