.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.inputGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.error {
  color: var(--primary-color);
}
