@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:active,
a:hover {
  text-decoration: none !important;
}
.space-1 {
  margin-bottom: 0.5rem !important;
}
.space-2 {
  margin-bottom: 1rem !important;
}
.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: Cairo, sans-serif;
}
.mainMenu{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../images/background-dark.webp);    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainCard {
  width: 140px;
  height: 120px;
  text-align: center;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.iconContainer{
  background-color: #00000030;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border: 1.5px solid #ffffff33;
  border-radius: 10px;
  margin-bottom: 5px;
}
.cardTxt{
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #ccc;
}
.mainCard:hover{
  .iconContainer{
    transform: translateY(-3px);
    border: 1px solid #fff;
    color: var(--secondary-color);
  }
  .cardTxt{
    color: var(--primary-color);
    font-size: 21px;
  }
}
@media screen and (max-width: 550px) {
  .formHeader{
    margin-bottom:20px;
    gap: 20px;
}
}