.homeContainer{
    display: grid;
    place-items: center;
    height: calc(100vh - 80px);
}

.cardContainer{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
    row-gap: 20px;
}
@media screen and (max-width: 768px) {
    .cardContainer {
        grid-template-columns: repeat(4, 1fr); /* Displays 4 items per row for smaller screens */
        column-gap: 20px;
    }
  }
.homeCard{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.cardLogo{
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: rgba(84, 150, 81, 0.425);
    display: grid;
    place-items: center;
    border-radius: 5px;
}
.cardName{
    cursor: pointer;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
}